@if (button) {
  <button class="statusbar__item statusbar__item--btn"
          [appTooltip]="tooltip"
          [attr.data-testid]="testid"
          (click)="activated.emit($event)">
    @if (bullet) {
      <span class="statusbar__icon" [class.statusbar__icon--pulse]="pulsing">{{ bullet }}</span>
    } @else if (icon) {
      <span class="statusbar__icon" [class.statusbar__icon--pulse]="pulsing">
        <app-studio-icon [name]="icon" [size]="iconSize"></app-studio-icon>
      </span>
    }
    <span>{{ label }}</span>
  </button>
} @else {
  <span class="statusbar__item statusbar__item--ro"
        [appTooltip]="tooltip"
        [attr.data-testid]="testid">
    @if (bullet) {
      <span class="statusbar__icon" [class.statusbar__icon--pulse]="pulsing">{{ bullet }}</span>
    } @else if (icon) {
      <span class="statusbar__icon" [class.statusbar__icon--pulse]="pulsing">
        <app-studio-icon [name]="icon" [size]="iconSize"></app-studio-icon>
      </span>
    }
    <span>{{ label }}</span>
  </span>
}
