@if (button) {
  <button class="statusbar__item statusbar__item--btn"
          [appTooltip]="tooltip"
          [attr.data-testid]="testid"
          (click)="click.emit($event)">
    @if (icon) {
      <span class="statusbar__icon"><app-studio-icon [name]="icon" [size]="iconSize"></app-studio-icon></span>
    }
    <span>{{ label }}</span>
  </button>
} @else {
  <span class="statusbar__item statusbar__item--ro"
        [appTooltip]="tooltip"
        [attr.data-testid]="testid">
    @if (icon) {
      <span class="statusbar__icon"><app-studio-icon [name]="icon" [size]="iconSize"></app-studio-icon></span>
    }
    <span>{{ label }}</span>
  </span>
}
