<cac-model-selector
  [cliOptions]="cliOptions()"
  [cliType]="cliType()"
  [model]="model()"
  [thinkingLevel]="thinkingLevel()"
  [models]="effectiveModels()"
  [catalogLoading]="catalogLoading()"
  [catalogError]="catalogError()"
  [disabled]="disabled()"
  [disabledReason]="disabledReason()"
  [eyebrow]="eyebrow()"
  [ariaLabelOverride]="ariaLabelOverride()"
  [tooltipOverride]="tooltipOverride()"
  [triggerTestid]="triggerTestid()"
  [pickerTestidPrefix]="pickerTestidPrefix()"
  (commit)="onCommit($event)"
  (cliTypeChange)="onCliTypeChange($event)"
  (modelChange)="modelChange.emit($event)"
  (thinkingLevelChange)="thinkingLevelChange.emit($event)"
  (catalogRequested)="onCatalogRequested($event)"
  (refreshRequested)="onRefreshRequested($event)" />
