<div class="document-tabs" data-testid="prototype-document-tabs" role="tablist" aria-label="Open workspace documents">
  @for (doc of documents(); track doc.id) {
    <button class="document-tab"
            type="button"
            role="tab"
            [class.document-tab--active]="activeDocument() === doc.id"
            [attr.aria-selected]="activeDocument() === doc.id"
            [attr.data-testid]="'prototype-document-' + doc.id"
            (click)="documentActivated.emit(doc.id)">
      <svg class="svg-icon" viewBox="0 0 24 24" aria-hidden="true">
        @for (path of iconPath(doc.icon); track path) {
          <path [attr.d]="path"></path>
        }
      </svg>
      <span>{{ doc.title }}</span>
      <em>{{ doc.subtitle }}</em>
      @if (doc.closable) {
        <span class="document-tab__close"
              title="Close document"
              aria-label="Close document"
              role="button"
              tabindex="-1"
              (click)="documentClosed.emit(doc.id); $event.stopPropagation()">x</span>
      }
    </button>
  }
</div>
  
